.page-wrapper {
	width:100%;
	max-width:1350px;
	margin: 0 auto;
}

.mainAd {
	width:100%;
	img {
		width:100%;
	}
}
.section {
	width:100%;
	padding:60px / 1350px * 100% 140px / 1350px * 100%;
	float: left;
}

.section__left {
	width: 47%;
	overflow:hidden;
	padding-right:60px;
	float:left;
	.box, {
		float: left;

	}
	img {
		float: left;
	}
 
}
.logo {
	width:100%;
	border-bottom:1px solid #dedede;
	text-align:center;
	img {
		position: relative;
		top: 7px;
	}
}
.section__left--padding-right {
	padding-right:140px / 1100px * 100%;
}
.section__left--no-padding {
	padding-right:0px;
}
.section__right {
	width: 52%;
	float:right;
	.box, .box__horizontal--left, .box__horizontal--right, img {
		float: right;
		text-align: right;
	}
}
.box, .box__horizontal--left, .box__horizontal--right {
	float: right;
	text-align: right;
}
.box {
	width:100%;
	float:left;
	padding: 30px 0;
	border-bottom: 1px solid $color__primary--gray;
	.author {
		color:$text__color--gold;
		font-size: calc-rem(20);
		padding: 20px 0;
		display: block;
	    font-weight: bold;
	}
	img {
		width: 100%;
	}
}
.box--dark {
	background: $color__primary--dark;
}
.box--first {
	padding-top:0;
}
.box__horizontal--left {
	 width: 46%;
}
.box__horizontal--right {
    margin-left: 20px;
    width: 38%;
    img {
    	width: 100%;
    }
}
.box__text {
	font-size:1.5vw;
	padding:0 0;
    padding-bottom: 10%;
	font-weight:bold;
	color:$text__color--nav;
}

.box__vertical, .box__vertical--top, .box__vertical--bottom {
	float: left;
	width:100%;
}
.box__vertical--bottom {
	padding-right: 86px;
	width: 100%;
	float: right;
}
.box__button {
	height:20px;
	background: $color__primary--gold;
	color:$text__color--light;
	float: right;
	padding: 5px;
	line-height: 9px;
	float:right;
}   
.box__centered {
	padding: 25px 20px 0 20px;
    text-align: center;
  	.box__text {
		padding: 20px 0;
		padding-bottom: 25px;
	}	
	.box__logo {
		margin-bottom: 15px;
	}
	.box__text--small {
		font-size:15px;
	}
}
.box__centered img {
	width:100%;
	margin-bottom: 40px;
}
.box--dark {
	.box__text, h2 {
		color: $text__color--light;
	}
}
.box--narrow {
	width: 83.14815%
}
.section--dark {
	background: $color__primary--dark;
	.box__text {
		color:$text__color--dim;
	}
	.box {
		border-bottom:none;
	}
	
}
.line:before {
	background: none repeat scroll 0 0 #9e914c;
    content: "";
    height: 3px;
    right: 0;
    position: absolute;
    top: 1px;
    width: 65px;
}
.line {
	position:relative;
}
.line--right:before {
	right: -86px;
    top: 30px;
	
}
.line--right, .line--center {
	@extend .line;
}
.line--center:before {
	right: calc(50% - 32.5px);
	top: 20px;
	
}
.line--center {
	width:100%;
	padding:14px 0;
}
.link {
	color:$text__color--gold;
}
.link:before {
	font-family: "Arial", sans-serif;
    content: "»" !important;
}
.link--centered {
	@extend .link;
	width:100%;
	text-decoration:none;
	font-weight:bold;
    border-bottom: 1px solid #9e914c;
    padding-bottom: 9px;
}
.box__division--left, .box__division--right {
	width: 50%;
	float: left;
	padding: 0 3%;
}
.box__division--left {
	padding-left:0;
}
.box__division .box__text {
	font-size:14px;
}
.box__division img {
	margin-bottom:10px;
}
.box__division .author {
	font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.article__heading {
	font-size: 47px;
    padding-bottom: 20px;
}
.article__text {
	font-size: 1vw;
    line-height: 29px;
    color: #6c6c6c;
    margin-bottom: 20px;
}
.link-box {
	width:100%;
	background: #e9e9e9;
	text-align:center;
	padding-bottom: 33px;
	ul {
		margin-bottom: 20px;
	}
}
.link-box__heading {
	padding: 25px 0 0px;
	font-size: 1.2vw;	
}
.link-box__item {
	padding: 11px;
    padding-left: 60px;
    font-size: 1vw;
    border-bottom: 1px solid $color__primary--gray;
    margin: 0 20px;
    text-align: right;
    color: #2D2D2D;
    font-family: NotoNaskhArabicBold;
    font-weight: normal;
    line-height: 23px;
}
.sponsor, .nmb {
	font-family: NotoSerif;
}
.section--no-vertical-padding {
	padding-top:0;
	padding-bottom:0;
}
.section__heading {
	text-align:right;
    text-align: right;
    font-size: 1.4vw;
    padding: 3.2% 0 2.4%;
    color:$color__primary--light;
    font-family: $text__family--KufiBold;
}
.section__link--left {
	float:left;
	display:block;
	color:$color__primary--gold;
	padding-bottom: 6px;
	border-bottom:1px solid $color__primary--gold;
	font-family:$text__family--Nashk;
	font-size: 0.86vw;

}
.box--no-vertical-padding {
	padding-top:0;
	padding-bottom:0;
}
.no-border-bottom {
	border-bottom:none;
}
.box--margin-bottom {
	margin-bottom:40px;
}