@charset "UTF-8";
html {
  font-size: 15px; }

@font-face {
  font-family: NotoKufiArabicBold;
  src: url(../../assets/font/NotoKufiArabic-Bold.ttf); }
@font-face {
  font-family: NotoNaskhArabicBold;
  src: url(../../assets/font/NotoNaskhArabic-Bold.ttf); }
@font-face {
  font-family: NotoSerif;
  src: url(../../assets/font/NotoSerif-Regular.ttf); }
@font-face {
  font-family: NotoNashkBold;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
@font-face {
  font-family: NotoKufiArabicBold;
  src: url(assets/font/NotoKufiArabic-Bold); }
@font-face {
  font-family: NotoKufiArabicBold;
  src: url(assets/font/NotoKufiArabic-Bold); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif; }

.header {
  width: 100%; }

.banner {
  width: 100%;
  float: left; }
  .banner img {
    width: 100%; }

.logo {
  float: left;
  width: 100%; }

.nav {
  width: 100%;
  list-style-type: square;
  text-align: center;
  float: left; }

.nav__item {
  display: inline-block;
  color: #444;
  font-weight: bold;
  padding: 0 15px;
  background-image: url(../../assets/img/bullet__square--gold.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
  line-height: 45px; }

.nav__link {
  text-decoration: none;
  color: #444; }

.nav__link:hover {
  color: #9e914c; }

.page-wrapper {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto; }

.mainAd {
  width: 100%; }
  .mainAd img {
    width: 100%; }

.section {
  width: 100%;
  padding: 4.44444% 10.37037%;
  float: left; }

.section__left {
  width: 47%;
  overflow: hidden;
  padding-right: 60px;
  float: left; }
  .section__left .box {
    float: left; }
  .section__left img {
    float: left; }

.logo {
  width: 100%;
  border-bottom: 1px solid #dedede;
  text-align: center; }
  .logo img {
    position: relative;
    top: 7px; }

.section__left--padding-right {
  padding-right: 12.72727%; }

.section__left--no-padding {
  padding-right: 0px; }

.section__right {
  width: 52%;
  float: right; }
  .section__right .box, .section__right .box__horizontal--left, .section__right .box__horizontal--right, .section__right img {
    float: right;
    text-align: right; }

.box, .box__horizontal--left, .box__horizontal--right {
  float: right;
  text-align: right; }

.box {
  width: 100%;
  float: left;
  padding: 30px 0;
  border-bottom: 1px solid #dedede; }
  .box .author {
    color: #9e914c;
    padding: 20px 0;
    display: block;
    font-weight: bold;
    font-size: 1.2vw; }
  .box img {
    width: 100%; }

.box--dark {
  background: #2b2b2b; }

.box--first {
  padding-top: 0; }

.box__horizontal--left {
  width: 46%; }

.box__horizontal--right {
  margin-left: 20px;
  width: 38%; }
  .box__horizontal--right img {
    width: 100%; }

.box__text {
  font-size: 1.5vw;
  padding: 0 0;
  padding-bottom: 10%;
  font-weight: bold;
  color: #444; }

.box--brand {
  color: #bdbdbd; }
  .box--brand .line--right:before {
    top: 7px; }

.box__vertical, .box__vertical--top, .box__vertical--bottom {
  float: left;
  width: 100%; }

.box__vertical--bottom {
  padding-right: 86px;
  width: 100%;
  float: right; }

.box__button {
  height: 20px;
  background: #9e914c;
  color: #fff;
  float: right;
  padding: 5px;
  line-height: 9px;
  float: right; }

.box__centered {
  padding: 16px 15px 0 16px;
  text-align: center; }
  .box__centered .box__text {
    padding: 20px 0;
    padding-bottom: 25px; }
  .box__centered .box__logo {
    margin-bottom: 15px; }
  .box__centered .box__text--small {
    font-size: 15px; }

.box__centered img {
  width: 100%;
  margin-bottom: 18px; }

.box--dark .box__text, .box--dark h2 {
  color: #fff; }

.box--narrow {
  width: 83.14815%; }

.section--dark {
  background: #2b2b2b; }
  .section--dark .box__text {
    color: #bdbdbd; }
  .section--dark .box {
    border-bottom: none; }

.line:before, .line--right:before, .line--center:before {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  top: 1px;
  width: 65px; }

.line, .line--right, .line--center {
  position: relative; }

.line--right:before {
  right: -86px;
  top: 30px; }

.line--center:before {
  right: calc(50% - 32.5px);
  top: 20px; }

.line--center {
  width: 100%;
  padding: 14px 0; }

.link, .link--centered {
  color: #9e914c; }

.link:before, .link--centered:before {
  font-family: "Arial", sans-serif;
  content: "┬╗" !important; }

.link--centered {
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #9e914c;
  padding-bottom: 9px; }

.box__division--left, .box__division--right {
  width: 50%;
  float: left;
  padding: 0 3%; }

.box__division .box__text {
  font-size: 14px; }

.box__division img {
  margin-bottom: 10px; }

.box__division .author {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold; }

.article__heading {
  font-size: 47px;
  padding-bottom: 20px; }

.article__text {
  font-size: 1vw;
  line-height: 29px;
  color: #6c6c6c;
  margin-bottom: 20px; }

.link-box {
  width: 100%;
  background: #e9e9e9;
  text-align: center;
  padding-bottom: 8px; }
  .link-box ul {
    margin-bottom: 20px; }

.link-box__heading {
  padding: 25px 0 0px;
  font-size: 1.2vw; }

.link-box__item {
  padding: 11px;
  padding-left: 60px;
  font-size: 1vw;
  border-bottom: 1px solid #dedede;
  margin: 0 20px;
  text-align: right;
  color: #2D2D2D;
  font-family: NotoNaskhArabicBold;
  font-weight: normal;
  line-height: 23px; }

.link-box__item--last {
  margin-bottom: 40px; }

.sponsor, .nmb {
  font-family: NotoSerif; }

.section--no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0; }

.section__heading {
  text-align: right;
  text-align: right;
  font-size: 1.4vw;
  padding: 3.2% 0 2.4%;
  color: #FFF;
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif; }

.section__link--left {
  float: left;
  display: block;
  color: #9e914c;
  padding-bottom: 6px;
  border-bottom: 1px solid #9e914c;
  font-family: "NotoNashkBold", Helvetica, Arial, sans-serif;
  font-size: 0.86vw;
  margin-left: 1%; }

.box--no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0; }

.no-border-bottom {
  border-bottom: none; }

.box--margin-bottom {
  margin-bottom: 40px; }

.small-media__text {
  float: right !important;
  margin-right: 1vw;
  padding-top: 21px;
  width: 60%; }

.small-media__img {
  float: right !important;
  width: 26% !important; }

.box__small-media {
  width: 100%;
  float: left;
  margin-top: 24px; }

.menu__icon {
  display: none; }

.search {
  display: none; }

.media__headline {
  color: #9e914c;
  text-align: center;
  width: 100%;
  float: left;
  margin-top: 30px;
  text-decoration: underline; }

.media__text {
  float: left;
  margin-top: 30px;
  font-size: 1vw;
  color: #444; }

.media__links {
  margin-top: 20px;
  float: left;
  line-height: 24px; }

.media__link {
  color: #9e914c;
  display: inline;
  margin-left: 25px;
  margin-top: 30px; }

.main__heading {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.3vw;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #444; }

.main__author {
  width: 264px;
  display: block;
  float: left;
  position: relative;
  left: calc((100% - 243px)/2);
  margin-bottom: 18px; }
  .main__author .date {
    color: #bdbdbd;
    padding-right: 5px;
    font-size: 0.8vw;
    float: left;
    border-right: 1px solid #bdbdbd;
    padding-top: 2px;
    font-family: "NotoSerif", Helvetica, Arial, sans-serif; }
  .main__author .author {
    color: #9e914c;
    padding: 0 8px;
    float: left; }
  .main__author .category {
    padding-left: 5px;
    color: #9e914c;
    float: left;
    border-left: 1px solid #bdbdbd; }
  .main__author .img__wrapper {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-left: 7px;
    overflow: hidden;
    top: -1px;
    position: relative; }
    .main__author .img__wrapper img {
      width: 100%; }
  .main__author p {
    float: left; }

.main__social-wrapper {
  float: left;
  margin-top: 0px;
  margin-bottom: 24px;
  text-align: center;
  width: 100%; }
  .main__social-wrapper img {
    float: none; }

.comments {
  text-align: right;
  color: #444;
  font-size: 1vw; }

.comment {
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9; }

.comment__heading {
  font-size: 1.3vw;
  margin-bottom: 13px; }

.comment__author {
  color: #9e914c;
  font-size: 1.1vw;
  margin-bottom: 13px; }

.nav__item--static {
  display: none; }

.name {
  width: 100%;
  font-size: 1.1vw;
  margin-bottom: 20px;
  text-align: right;
  color: #444;
  margin-top: 20px; }

.input-box {
  width: 100%;
  border: 1px solid #bdbdbd;
  height: 100px; }

.input__wrapper {
  width: 70%;
  float: left; }

.author_img {
  float: left !important;
  margin-left: 10px; }

.post-comment__button {
  line-height: 50px;
  text-align: center;
  width: 93px;
  float: right;
  margin-top: 20px;
  background: #9e914c;
  color: #fff;
  font-weight: bold; }

.footer {
  width: 100%;
  float: left;
  color: #444; }

.contact-us {
  background: #2b2b2b; }

.contact-us__heading, .footer__heading {
  text-align: center;
  color: #FFF;
  padding: 3vw 20px 0;
  font-size: 1.3vw; }

.contact-us__text {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 0.9vw;
  line-height: 22px;
  font-size: 1vw;
  color: #FFF;
  font-family: "NotoNashkBold", Helvetica, Arial, sans-serif; }

.contact-us__input {
  text-align: center;
  width: 38%;
  line-height: 2vw;
  margin-left: 31%;
  margin-bottom: 3%; }

.footer__heading {
  color: #2b2b2b; }

.footer__section--left, .footer__section--right {
  width: 50%;
  float: left; }

.footer__section--left {
  border-right: 1px solid #bdbdbd;
  padding-left: 10%; }
  .footer__section--left .footer__brands {
    padding-right: 3%; }
  .footer__section--left .footer-list {
    padding-right: 5%; }

.footer__section--right {
  padding-right: 10%; }
  .footer__section--right .footer__brands {
    padding-left: 3%; }

.footer__section-heading {
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 3%; }

.footer__brands {
  width: 33.33%;
  text-align: center;
  float: left; }
  .footer__brands img {
    width: 100%; }
  .footer__brands p {
    font-size: 1vw;
    padding-top: 10px; }
  .footer__brands .small {
    font-size: 0.9vw;
    color: gray;
    padding-top: 5px;
    padding-bottom: 20px; }

.footer-list {
  float: right; }

.footer-list__item {
  display: inline;
  padding-left: 6%;
  float: right;
  position: relative; }

.footer-list__item--last {
  color: #9e914c; }

.footer-list__item--last:before {
  display: none; }

.footer-list__item:before {
  content: "-";
  position: absolute;
  left: 15px; }

.footer-links {
  width: 100%;
  float: right;
  padding: 4% 10% 2%;
  border-bottom: 1px solid #dedede; }

.footer-links__item {
  display: inline;
  float: right;
  margin-left: 3%;
  padding: 5px 8px;
  border: 1px solid #9e914c;
  position: relative; }

.footer--end {
  float: right;
  width: 100%;
  padding: 1% 10% 40%; }
  .footer--end div {
    float: right; }

.footer--end .social {
  float: left;
  width: 30%; }

.footer--end .social img {
  float: left;
  padding-top: 10px;
  margin-right: 15px; }

.footer-links__item--last {
  border: none;
  color: #9e914c; }

.footer-links__item--first {
  border: none; }

.footer__logo > img {
  width: 80%; }

@media screen and (max-width: 1024px) {
  .section {
    padding: 0; }

  .section__left, .section__right {
    width: 100%;
    float: left;
    padding: 0; }

  .section__left--padding-right {
    padding: 0; }

  .box__horizontal {
    padding-right: 5%; }

  .box__text {
    font-size: 4.5vw;
    line-height: 17px; }

  .box .author {
    font-size: 3.2vw; }

  .box__vertical--top {
    padding: 3%; }

  .article__text {
    font-size: 5vw; }

  .link-box__item {
    font-size: 4vw; }

  .link-box__heading {
    font-size: 5vw; }

  .contact-us__heading, .footer__heading, .footer__heading {
    font-size: 4.2vw; }

  .contact-us__text {
    font-size: 4vw;
    width: 95%; }

  .footer__section--left, .footer__section--right {
    width: 100%;
    padding-left: 3%; }

  .footer__brands p {
    font-size: 2.5vw; }

  .footer__brands .small {
    font-size: 2.4vw; }

  .link-box {
    margin: 0% 4% 7%;
    width: 92%; }

  .logo {
    border-bottom: none;
    height: 50px;
    width: calc(100% - 100px);
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9; }
    .logo img {
      top: 7px;
      height: 60%; }

  .menu__icon {
    display: block;
    float: left;
    height: 50px;
    border: 1px solid #e9e9e9;
    width: 50px;
    background-image: url(../../assets/img/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; }
    .menu__icon.opened {
      background-image: url(../../assets/img/x-icon.png); }

  .search {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #e9e9e9;
    float: left;
    background-image: url(../../assets/img/search__icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; }

  .nav__item {
    width: 49%;
    text-align: right;
    background-image: none;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    width: 50%;
    padding: 0;
    float: right;
    padding-right: 16px;
    font-size: 4vw; }

  .nav__item--static {
    background: #e9e9e9;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-size: 3.6vw;
    float: left;
    width: 50%;
    display: block; }

  .nav {
    display: none; }
    .nav.opened {
      display: block; }

  .footer--end .social {
    width: 100%; }

  .media__text {
    font-size: 3.5vw;
    line-height: 17px; }

  .box .article {
    display: none; }

  .footer__section-heading {
    font-size: 3vw;
    margin-top: 8px; }

  .footer-list__item {
    line-height: 26px; }

  .footer-list__item:before {
    content: "-";
    position: absolute;
    left: 7px; }

  .footer-links__item {
    margin-bottom: 15px; }

  .footer-links__item--first {
    border: none;
    width: 100%;
    text-align: center; }

  .footer--end .social {
    width: 65%;
    left: 20%;
    position: relative;
    top: 80px; }

  .footer--end .social img {
    height: 100%; }

  .footer__logo {
    width: 100%;
    text-align: center; }

  .footer__logo > img {
    width: 55%; }

  .footer--end .social img:last-child {
    margin-right: 0; }

  .comments, .post-comment {
    display: none; }

  .date {
    font-size: 4vw !important; }

  .main__heading {
    font-size: 4.3vw; } }

/*# sourceMappingURL=screen.css.map */
